// common class
.cur-pointer {
  cursor: pointer;
}

.active {
  background: linear-gradient(91.51deg, #315A98 1.52%, #487CBF 100.83%) !important;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  pointer-events: none;
  border-radius: 0.5rem;

}

.active-bg {
  background: linear-gradient(91.51deg, #315A98 1.52%, #487CBF 100.83%) !important;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
}

.box-shadow-card {
  box-shadow: rgb(100 100 111 / 20%) 0rem 0.125rem 0.4375rem 0.0625rem;
}

.pointer-none {
  pointer-events: none;
}

.v-none {
  visibility: hidden;
}

.d-none {
  display: none !important;
}

.cust-dis {
  opacity: 0.5;
}

.bg-hover-clr {
  background: #EFEFEF;
}

.calendar {
  margin-top: 4rem;
  min-width: 25rem;
  max-width: 25rem;
}

.cal-initial-view {
  padding: 1rem;
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background: #fff;
  border-radius: 0.625rem;
  justify-content: space-between;
  align-items: center;

}

.arrow-icon {
  height: 1rem;
  rotate: -180deg;
}

.rotate-arrow-icon {
  rotate: -90deg;
}

.cal-parent {
  /* align-items: center; */
  display: inline-block;
  min-height: 30rem;
  background: #ffff;
  border-radius: 0.625rem;
}



.cal-header {
  margin: 1.5rem 0.7rem 0.5rem 0.7rem;
  display: flex;
  justify-content: space-between;

  .left-arrow {
    // padding: 0.25rem;

    img {
      height: 1rem;
    }
  }

  .date-val {
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    // padding: 0.25rem;
  }

  .right-arrow {
    // padding: 0.25rem;

    img {
      height: 1rem;
      rotate: -180deg;
    }
  }
}

.cal-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0.7rem 0.5rem 0.7rem;

  .time-icon {
    height: 2rem;
    padding-left: 0.3125rem;
    transition: transform 1s ease-in-out;
  }

  .today-col {

    .today-col-input {
      border: none;
      border-bottom: 1px solid #232323;
      padding: 0.875rem 1.25rem;
      text-align: center;
      margin: 0.5rem 0;
      letter-spacing: 0.1rem;
      font-size: 0.9375rem;
    }

    .today-col-input:focus-visible {
      outline: none;
    }

    .today-col-input::placeholder {
      opacity: 0.3;
      font-weight: 500;
      letter-spacing: normal
    }
  }

  .jump-today {
    border: 1px solid #335D9B;
    border-radius: 0.5rem;
    // font-size: 0.9375rem;
    padding: 0.875rem 1.25rem;
    letter-spacing: 0.1rem;
    background: #fff;
    font-weight: 600;
    font-size: 1rem;
    width: 6rem;
  }

}


.cal-sub-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0.7rem 0.5rem 0.7rem;

  .view-options {
    border: 1px solid #335D9B;
    background: #ffff;
    width: 7rem;
    font-weight: 600;
    font-size: 1rem;
    // border: none;
    padding: 0.875rem 1.25rem;
    text-align: center;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
  }
}

.container-day_view__header {
  margin: 0.5rem 0.7rem 1.5rem 0.7rem !important;
}

.main-container {
  margin: 0.5rem 0.7rem 1.5rem 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.1rem;

  // Months
  .container-month-view {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }

  .container-list {
    padding: 0.75rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
    // text-shadow: 0 0.0625rem 0 rgba(189, 179, 179, 0.4);
  }


  .container-list:hover {
    background-color: #EFEFEF;
  }

  // Year
  .container-year-view {
    display: flex;
    align-items: center;

    .year-navi__icon {
      height: 1rem;
    }

    .year-navi__icon_right {
      rotate: -180deg;
    }

    .container-year-list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .container-day-view {
    display: block;


    .week-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 10px;


      .week-list-items {
        padding: 0.7rem;
        text-transform: uppercase;
        font-size: small;
        border-radius: 0.5rem;
      }

      .week-list-items:hover {
        background-color: #EFEFEF;
      }
    }

    .list-header {
      font-weight: 600;
      border: none;
      // border-bottom: 0.0625rem solid black;
    }

    .week-list__date {
      gap: .6875rem
    }
  }


  .time-picker {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon_size {
      height: 1rem;
      border-radius: 1.5rem;
    }

    .increment-icon {
      // height: 2rem;
      rotate: 90deg;
    }

    .decrement-icon {
      rotate: 270deg;
    }

    .time-hours-picker {
      display: flex;
      margin: 1.5rem;
      max-width: 3rem;
      flex-wrap: wrap;
      justify-content: center;

      .hour_value {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 3.875rem;
        font-weight: 600;
        max-width: 5rem;
        border: none;
        border-bottom: 1px solid #232323;
      }

      .hour_value:focus-visible {
        outline: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .time-seperator {
      font-size: 1.875rem;
      font-weight: 600;
    }

    .time-mins-picker {
      display: flex;
      margin: 1.5rem;
      max-width: 3rem;
      flex-wrap: wrap;
      justify-content: center;

      .min_value {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 3.875rem;
        font-weight: 600;
        max-width: 5rem;
        border: none;
        border-bottom: 1px solid #232323;
      }

      .min_value:focus-visible {
        outline: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .time-meridiem-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 2rem;
      align-items: center;
      margin-left: 1rem;

      .time-meridiem_selector {
        text-align: center;
        margin: 0.35rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #EFEFEF;
      }
    }

  }
}

.time-parent {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  .update-time {
    border: 1px solid #335D9B;
    border-radius: 0.5rem;
    background: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.875rem 1.25rem;
    text-align: center;
    border-radius: 0.5rem;
    letter-spacing: 0.05rem;
    width: 7rem;
  }

  .update-time:hover {
    box-shadow: rgb(100 100 111 / 20%) 0rem 0.125rem 0.4375rem 0.0625rem;
  }

  .time-view {
    display: flex;
    align-items: center;
    border: none;
    text-align: center;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 0.9375rem;

    .time-icon-container {
      height: 2rem;
    }

    .time-value {
      display: flex;
      align-items: center;

      .show-only {
        padding: 0.4rem;
      }

      .time-value-input {
        padding: 0.4rem;
        text-align: center;
        letter-spacing: 0.1rem;
        border-bottom: 0.025rem solid black !important;
        max-width: 1.25rem;
        border: none;
      }

      .time-value-input:focus-visible {
        outline: none;
      }

      .time-seperator {
        padding: 0.15rem;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .time-meridian {
        display: flex;
        margin-left: 0.5rem;

        .time-meridian-list {
          margin: 0.25rem;
          padding: 0.3rem;
          background: #EFEFEF;
          border-radius: 0.5rem;
        }
      }
    }
  }


}